<<<<<<< HEAD
.admin-interface #changelist .changelist-footer .paginator {
    margin-top: -1px; /* merge 2 borders into 1 */
    line-height: 1.5em;
}

.admin-interface #changelist .changelist-footer .paginator a,
.admin-interface #changelist .changelist-footer .paginator a:link,
.admin-interface #changelist .changelist-footer .paginator a:visited,
.admin-interface #changelist .changelist-footer .paginator a[aria-current="page"],
.admin-interface #changelist .changelist-footer .paginator .this-page {
    padding: 7px 12px;
}

.admin-interface #changelist .changelist-footer .paginator a,
.admin-interface #changelist .changelist-footer .paginator a[aria-current="page"],
.admin-interface #changelist .changelist-footer .paginator .this-page {
    margin-left: 0px;
}

body.admin-interface #changelist .changelist-footer .paginator a.showall,
body.admin-interface #changelist .changelist-footer .paginator a.showall:link,
body.admin-interface #changelist .changelist-footer .paginator a.showall:visited {
=======
.admin-interface #changelist .paginator {
    margin-top: -1px; /* merge 2 borders into 1 */
    line-height: 1.5em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.admin-interface .paginator a,
.admin-interface .paginator a:link,
.admin-interface .paginator a:visited,
.admin-interface .paginator .this-page {
    padding: 7px 12px;
}

.admin-interface .paginator a,
.admin-interface .paginator .this-page {
    margin-left: 0px;
}

.admin-interface .paginator .this-page,
.admin-interface .paginator a.end {
    margin-right: 25px;
}

.admin-interface .paginator .this-page + a:not(.showall)  {
    margin-left: -25px;
}

body.admin-interface .paginator a.showall,
body.admin-interface .paginator a.showall:link,
body.admin-interface .paginator a.showall:visited {
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
    margin-left: 20px;
}
