<<<<<<< HEAD
/* sticky actions */

.admin-interface.sticky-actions #changelist .actions {
    display: flex;
    align-items: center;
    width: auto;
    background: var(--body-bg);
    border-top: none;
    border-bottom: 1px solid #EEEEEE;
    padding: 10px;
    line-height: 1.5rem;
    color: var(--body-quiet-color);
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: -1px;
}

=======
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
/* sticky pagination */

.admin-interface.sticky-pagination.change-list #content-main {
    padding-bottom: 4.375rem;
}

<<<<<<< HEAD
.admin-interface.sticky-pagination.change-list #changelist .changelist-footer {
=======
.admin-interface.sticky-pagination.change-list .paginator {
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 40;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
<<<<<<< HEAD
    background: var(--body-bg);
=======
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
    border-radius: 0;
    border-top: 1px solid #EEEEEE !important;
    border-bottom: none;
    margin: 0;
}

<<<<<<< HEAD
.admin-interface.sticky-pagination.change-list.popup #changelist .changelist-footer {
=======
.admin-interface.sticky-pagination.change-list.popup .paginator {
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width:768px) {
<<<<<<< HEAD
    .admin-interface.sticky-pagination.change-list:not(.popup) #changelist .changelist-footer {
=======
    .admin-interface.sticky-pagination.change-list:not(.popup) .paginator {
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:1024px) {
<<<<<<< HEAD
    .admin-interface.sticky-pagination.change-list:not(.popup) #changelist .changelist-footer {
=======
    .admin-interface.sticky-pagination.change-list:not(.popup) .paginator {
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width:1280px) {
<<<<<<< HEAD
    .admin-interface.sticky-pagination.change-list:not(.popup) #main.shifted > #nav-sidebar + .content #changelist .changelist-footer {
=======
    .admin-interface.sticky-pagination.change-list:not(.popup) #main.shifted > #nav-sidebar + .content .paginator {
>>>>>>> f82bba6af5ffd5ca62025f21297dee1ee034a82d
        width: calc(100% - 360px);
    }
}

/* sticky submit */

@media (min-width:768px) {
    .admin-interface.sticky-submit.change-form #content-main {
        padding-bottom: 4.375rem;
    }

    .admin-interface.sticky-submit.change-form .submit-row:last-of-type {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 40;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 0;
        border-top: 1px solid #EEEEEE;
        border-bottom: none !important;
        margin: 0;
    }

    .admin-interface.sticky-submit.change-form.popup .submit-row:last-of-type {
        padding-left: 20px;
        padding-right: 20px;
    }

    .admin-interface.sticky-submit.change-form:not(.popup) .submit-row:last-of-type {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:1024px) {
    .admin-interface.sticky-submit.change-form:not(.popup) .submit-row:last-of-type {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width:1280px) {
    .admin-interface.sticky-submit.change-form:not(.popup) #main.shifted > #nav-sidebar + .content .submit-row:last-of-type {
        width: calc(100% - 359px);
    }
}
